
<div class="banner_one">
  <h3 class="intro">Welcome to Yard Sale! </h3>
</div>
 <div class="row">
<% @items.each do |i| %>
  <div class="col s12 m6 l3">
    <div class="card sticky-action">
      <h3><%= i.name %></h3>

      <div class="card-action">$<%= i.price %></div>
      <div class="chip">
        <img src="cat.jpg" alt="Contact Person">
          <%= i.get_user%>
      </div>
      <%= link_to "call dibs" %>
      <div class="card-reveal">more info</div>
    </div>
  </div>
<% end %>
</div>
