/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "materialize/components/color";
@import 'materialize';


body{
  font-family: 'Poiret One', cursive;
}
.brand-logo{
 font-family: 'Great Vibes', cursive;
}
.banner_one{
  width:50%;
  margin: 0 auto;
  background:    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),url('ban.jpg');
  background-repeat:no-repeat;
  min-height: 400px;
}
.intro{
  text-align: center;
  color:#fff;
  padding-top: 100px;
}
.card{
  min-height: 200px;
  padding:20px;
}

.cart{
  width:60px;
  height:50px;
  position: fixed;
  top: 300px;
  left: 0px;
  padding:10px;
  z-index:10;
}

.img-cart{
  width:50px;
  height: 50px;
}

.cart_amount{
  background: beige;
  border-radius: 5px;
  width:20px;
  height:20px;
}
